body{
    background: linear-gradient(to top ,rgb(0, 0, 0),rgb(94, 93, 93));
    background-repeat:no-repeat ;
    background-attachment:fixed ;
    color: rgb(154, 1, 44);
    font-family: 'Courier New', Courier, monospace;
    background-image: url("retro1.png");
    background-position: center;
    background-size:cover ;

}
input{
    border-color: rgb(0, 0, 0);
    background-color: rgb(152, 146, 146);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.fa {
    padding: 0%;
    font-size: 30px;
    width: px;
    text-align: center;
    text-decoration: none;
    margin: 5px px;
    border-radius: 10%;
    
  }
  .fa-youtube {
    background: #da0000;
    color: white;
    
  }

  .fa-instagram {
    background: #d86f6f;
    color: white;
  }

  .glow {
    font-size: 80px;
    padding-left: 10%;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  label{
    padding-left: 10%;
  }

  .glow1 {
    padding-left: 10%;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }